#Intializ admin credentials
    ADMIN_EMAIL = 
    ADMIN_PASSWORD =



    
    # CORS Config
    ALLOWED_ORIGINS = #frontend host ex-["http://localhost:3000"]
   

    COOKIE_DOMAIN = 
    
    ENV =dev/prod
